
<div class="modal fade" id="TimerAlertModal" tabindex="-1" aria-labelledby="timerAlertModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="timerAlertModalLabel">Access Required</h5>
        </div>
        <div class="modal-body">
          <p>To continue, please log in or register.</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#logInModal" data-bs-dismiss="modal">
            Log In
          </button>
          <button class="btn btn-light me-2" data-bs-toggle="modal" data-bs-target="#RegisterModal" data-bs-dismiss="modal">
            Register
          </button>
        </div>
      </div>
    </div>
  </div>
  