<div class="profile-page container py-5">
    <div class="card shadow-lg">
        <div class="card-body arriba text-center">
            <div class="profile-image mx-auto mb-3">
                <img src="logo-planta.png" alt="Foto de perfil" class="img-fluid rounded-circle" style="width: 120px; height: 120px;">
            </div>
            <h4 class="card-title mb-1">{{ profileForm.value.firstName }} {{ profileForm.value.lastName }}</h4>
            <span class="badge bg-primary" *ngIf="loggedInUser && loggedInUser.member">Miembro</span>
        </div>
        <hr class="my-4">
        
        <form [formGroup]="profileForm" (ngSubmit)="submitChange('email')">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="username"><strong>Nombre de usuario:</strong></label>
                        <input type="text" id="username" class="form-control" formControlName="username" >
                    </div>
                    <div class="col-md-6">
                        <label for="email"><strong>Email:</strong></label>
                        <div class="input-group">
                            <input type="email" id="email" class="form-control" formControlName="email">
                            <button class="btn btn-outline-primary" type="button" (click)="submitChange('email')"><i class="bi bi-save"></i></button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="first-name"><strong>Nombre:</strong></label>
                        <div class="input-group">
                            <input type="text" id="first-name" class="form-control" formControlName="firstName">
                            <button class="btn btn-outline-primary" type="button" (click)="submitChange('firstName')"><i class="bi bi-save"></i></button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="last-name"><strong>Apellido:</strong></label>
                        <div class="input-group">
                            <input type="text" id="last-name" class="form-control" formControlName="lastName">
                            <button class="btn btn-outline-primary" type="button" (click)="submitChange('lastName')"><i class="bi bi-save"></i></button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="birth-date"><strong>Fecha de nacimiento:</strong></label>
                        <div class="input-group">
                            <input type="date" id="birth-date" class="form-control" formControlName="birthDate">
                            <button class="btn btn-outline-primary" type="button" (click)="submitChange('birthDate')"><i class="bi bi-save"></i></button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="country"><strong>País:</strong></label>
                        <div class="input-group">
                            <select id="country" class="form-control" formControlName="country">
                                <option value="España">España</option>
                                <option value="México">México</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Chile">Chile</option>
                                <option value="Perú">Perú</option>
                                <option value="Colombia">Colombia</option>
                                <!-- Agrega más opciones según sea necesario -->
                            </select>
                            <button class="btn btn-outline-primary" type="button" (click)="submitChange('country')">
                                <i class="bi bi-save"></i> 
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <hr class="my-4">
        <div class="card-footer text-center">
            <button class="btn btn-outline-light me-2"  role="button" data-bs-toggle="modal" data-bs-target="#MembershipModal"  *ngIf="loggedInUser && loggedInUser.member==false">Adquirir Membresía</button>
            <button class="btn btn-light me-2">Modificar Contraseña</button>
        </div>
    </div>
</div>
<app-form-membership></app-form-membership>