.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .nav-link {
    position: relative;
    display: inline-block;
    color: #ffffff; 
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.5s ease;
    border: 1px solid transparent; 
    
  }
  
  .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #D9C6A3; 
    z-index: -1;
    transition: all 0.3s ease;
    transform: scale(0);
    border-radius: 5px;
  }
  
  .nav-link:hover::after {
    transform: scale(1); 
  }
  
  .nav-link:hover {
    color: #40352B; 
    background-color: #F2E1AC;
    border: 1px solid #F2E1AC; 
  }

  .btn:hover {
    color: #40352B; 
    background-color: #F2E1AC;
    border: 1px solid #F2E1AC;
}
  .btn:focus{
    color: #40352B; 
    background-color: #F2E1AC;
    border: 1px solid #F2E1AC;
  }
  .btn:active{
    color: #40352B; 
    background-color: #F2E1AC;
    border: 1px solid #F2E1AC;
  }
  
  .navbar-brand {
    color: #40352B !important; 
    font-weight: bold; 
}
.dropdown-menu {
  background-color: #F2E1AC; 
  border-color: #F2E1AC; 
}
.dropdown-item:hover{
  color: #40352B; 
    background-color: #D9C6A3;
}
.icon-toggle-button {
  position: relative;

  .icon-default {
    display: inline; /* Visible por defecto */
  }

  .icon-hover {
    display: none; /* Oculto por defecto */
  }

  /* Estilo cuando el botón está en hover o en foco (activo) */
  &:hover,
  &:focus {
    .icon-default {
      display: none; /* Oculta el icono por defecto en hover y foco */
    }

    .icon-hover {
      display: inline; /* Muestra el icono de hover y foco */
    }

  }
}





