.container {
    max-width: 1200px; // Ajusta el ancho máximo como prefieras
}

.feature-card {
    border: 1px solid #e0e0e0d6; // Borde sutil
    background-color: #D9C6A3;
    border-radius: 15px; // Esquinas redondeadas
    padding: 20px;
    margin: 15px 0;
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); // Sombra al pasar el mouse
    }

    i {
        color: #697353; // Color del icono
    }

    h5 {
        margin-top: 15px;
        font-weight: bold;
    }

    p {
        color: #40352B; // Color de texto
    }
}

.btn {
    margin-top: 15px; // Espacio arriba del botón
    padding: 10px 20px; // Relleno para el botón
}
