td {
    color: #40352B; 
}
.table thead tr {
    border-bottom: #BF9169; /* Cambia #007bff por el color deseado */
}
.table tbody tr {
    border-bottom:#697353; /* Cambia #007bff por el color deseado */
}