<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="commentModalLabel">New Comment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="commentForm" (ngSubmit)="submitComment()">
            <div class="card">
              <div class="card-body">
                <div>
                  <label class="form-label">Comment:</label>
                  <textarea class="form-control" placeholder="Write your comment here..." formControlName="commentContent" rows="4"></textarea>
                  <div *ngIf="commentForm.get('commentContent')?.invalid && commentForm.get('commentContent')?.touched" class="text-danger">
                    Comment is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-light" [disabled]="!commentForm.valid">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>