<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imageModalLabel">Imagen Ampliada</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <img [src]="selectedImage" class="img-fluid" alt="Imagen Ampliada">
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mt-4"> 
    <div *ngIf="plantData.images" class="row">
      
      <!-- Leaf Images -->
      <div *ngIf="plantData.images.leaf && plantData.images.leaf.length > 0" class="col-md-6 mb-4">
        <h4>Leaf Images</h4>
        <div class="d-flex flex-wrap">
          <div *ngFor="let img of imagesToShow(plantData.images.leaf)" class="p-2">
            <img 
              [src]="img.image_url" 
              class="img-thumbnail" 
              [alt]="'Leaf image ' + img.id" 
              title="{{ img.copyright }}" 
              (click)="openImageModal(img.image_url)">
          </div>
        </div>
      </div>
  
      <!-- Flower Images -->
      <div *ngIf="plantData.images.flower && plantData.images.flower.length > 0" class="col-md-6 mb-4">
        <h4>Flower Images</h4>
        <div class="d-flex flex-wrap">
          <div *ngFor="let img of imagesToShow(plantData.images.flower)" class="p-2">
            <img 
              [src]="img.image_url" 
              class="img-thumbnail" 
              [alt]="'Flower image ' + img.id" 
              title="{{ img.copyright }}" 
              (click)="openImageModal(img.image_url)">
          </div>
        </div>
      </div>
  
      <!-- Habit Images -->
      <div *ngIf="plantData.images.habit && plantData.images.habit.length > 0" class="col-md-6 mb-4">
        <h4>Habit Images</h4>
        <div class="d-flex flex-wrap">
          <div *ngFor="let img of imagesToShow(plantData.images.habit)" class="p-2">
            <img 
              [src]="img.image_url" 
              class="img-thumbnail" 
              [alt]="'Habit image ' + img.id" 
              title="{{ img.copyright }}" 
              (click)="openImageModal(img.image_url)">
          </div>
        </div>
      </div>
  
      <!-- Bark Images -->
      <div *ngIf="plantData.images.bark && plantData.images.bark.length > 0" class="col-md-6 mb-4">
        <h4>Bark Images</h4>
        <div class="d-flex flex-wrap">
          <div *ngFor="let img of imagesToShow(plantData.images.bark)" class="p-2">
            <img 
              [src]="img.image_url" 
              class="img-thumbnail" 
              [alt]="'Bark image ' + img.id" 
              title="{{ img.copyright }}" 
              (click)="openImageModal(img.image_url)">
          </div>
        </div>
      </div>
  
      <!-- Fruit Images -->
      <div *ngIf="plantData.images.fruit && plantData.images.fruit.length > 0" class="col-md-6 mb-4">
        <h4>Fruit Images</h4>
        <div class="d-flex flex-wrap">
          <div *ngFor="let img of imagesToShow(plantData.images.fruit)" class="p-2">
            <img 
              [src]="img.image_url" 
              class="img-thumbnail" 
              [alt]="'Fruit image ' + img.id" 
              title="{{ img.copyright }}" 
              (click)="openImageModal(img.image_url)">
          </div>
        </div>
      </div>
  
      <!-- Other Images -->
      <div *ngIf="plantData.images.other && plantData.images.other.length > 0" class="col-md-6 mb-4">
        <h4>Other Images</h4>
        <div class="d-flex flex-wrap">
          <div *ngFor="let img of imagesToShow(plantData.images.other)" class="p-2">
            <img 
              [src]="img.image_url"   
              class="img-thumbnail" 
              [alt]="'Other image ' + img.id" 
              title="{{ img.copyright }}" 
              (click)="openImageModal(img.image_url)">
          </div>
        </div>
      </div>
    </div>
  </div>
  