<div class="modal fade" id="forumPostModal" tabindex="-1" aria-labelledby="forumPostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="forumPostModalLabel">New Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="postForm" (ngSubmit)="post()">
            <div class="card">
              <div class="card-body">
                <div class="mb-2">
                  <label class="form-label">Cateogry:</label>
                  <select class="form-select" formControlName="category">
                    <option value="" disabled selected>-Select a category-</option>
                    <option *ngIf="isAdmin" value="announcement">announcement</option>
                    <option *ngFor="let cates of categories" [value]="cates">{{ cates }}</option> 
                  </select>
                  <div *ngIf="postForm.get('category')?.invalid && postForm.get('category')?.touched" class="text-danger">
                    Categoría is required.
                  </div>
                </div>
                <div>
                  <label class="form-label">Post Content:</label>
                  <textarea class="form-control" placeholder="Write your post here..." formControlName="postContent" rows="4" maxlength="200"></textarea>
                  <div *ngIf="postForm.get('postContent')?.invalid && postForm.get('postContent')?.touched" class="text-danger">
                    Post content is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-light" [disabled]="!postForm.valid">Accept</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>