
@media (max-width: 576px) {
    .admin-view {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.admin-view {
    margin-top: 100px;
}
.table td, .table th {
    word-wrap: break-word;
}