<!-- <div class="container mt-4">
    <div class="row">
        
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-header">
                    User
                </div>
                <div class="card-body">
                    <h5 class="card-title">Username</h5>
                    <p class="card-text">{{client.username}}</p>
                    <h5 class="card-title">First name</h5>
                    <p class="card-text">{{client.firstName}}</p>
                    <h5 class="card-title">Last name</h5>
                    <p class="card-text">{{client.lastName}}</p>
                    <h5 class="card-title">Birthday</h5>
                    <p class="card-text">{{client.birthDate}}</p>
                    <h5 class="card-title">Email</h5>
                    <p class="card-title">{{client.email}}</p>
                    <h5 class="card-title">Country</h5>
                    <p class="card-text">{{client.country}}</p>
                    <button class="btn btn-primary">Algo!</button>
                </div>
            </div>
        </div>

    </div>
</div> -->


<div class="user-view container py-5">
    <div class="card shadow-lg">
        <div class="card-body arriba text-center">
            <div class="profile-image mx-auto mb-3">
                <img src="logo-planta.png" alt="Foto de perfil" class="img-fluid rounded-circle"
                    style="width: 120px; height: 120px;">
            </div>
            <h4 class="card-title mb-1"> {{ client.firstName }} {{ client.lastName }}</h4>
            <span *ngIf="client.member">Miembro</span>
        </div>
        <hr class="my-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label for="username"><strong>Username:</strong></label>
                    <h5> {{client.username}}</h5>
                </div>
                <div class="col-md-6">
                    <label for="email"><strong>Email:</strong></label>
                    <h5>{{client.email}}</h5>
                </div>
                <div class="col-md-6">
                    <label for="birth-date"><strong>Birthday:</strong></label>
                    <h5>{{client.birthDate}}</h5>
                </div>
                <div class="col-md-6">
                    <label for="country"><strong>Country:</strong></label>
                    <h5>{{client.country}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- <hr class="my-4">
        <div class="card-footer text-center">
            <button class="btn btn-outline-light me-2" role="button" data-bs-toggle="modal" data-bs-target="#MembershipModal" *ngIf="">Adquirir Membresía</button>
            <button class="btn btn-light me-2" data-bs-toggle="collapse" data-bs-target="#passwordChangeCollapse" aria-expanded="false" aria-controls="passwordChangeCollapse">
                Modificar Contraseña
            </button>
        </div> -->