<div class="user-view container py-5">
    <div class="card shadow-lg">
        <div class="card-body arriba text-center">
            <div class="profile-image mx-auto mb-3">
                <img src="logo-planta.png" alt="Foto de perfil" class="img-fluid rounded-circle"
                    style="width: 120px; height: 120px;">
            </div>
            <h4 class="card-title mb-1"> {{ client.firstName }} {{ client.lastName }}</h4>
            <span class="badge bg-primary" *ngIf="client.member">Member</span>
        </div>
        <hr class="my-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label><strong>Username:</strong></label>
                    <input type="text"class="form-control" value="{{client.username}}" [disabled]="true">
                </div>
                <div class="col-md-6">
                    <label><strong>Email:</strong></label>
                    <input type="text" class="form-control" value="{{client.email}}" [disabled]="true">
                </div>
                <div class="col-md-6">
                    <label><strong>Name:</strong></label>
                    <input type="text"class="form-control" value="{{client.firstName}}" [disabled]="true">
                </div>
                <div class="col-md-6">
                    <label><strong>Lastname:</strong></label>
                    <input type="text"class="form-control" value="{{client.lastName}}" [disabled]="true">
                </div>
                <div class="col-md-6">
                    <label><strong>Birthday:</strong></label>
                    <input type="text"class="form-control" value="{{client.birthDate}}" [disabled]="true">
                </div>
                <div class="col-md-6">
                    <label><strong>Country:</strong></label>
                    <input type="text"class="form-control" value="{{client.country}}" [disabled]="true">
                </div>
            </div>
        </div>
        <hr class="my-4">
            <div class="card-footer text-center">
                <button class="btn btn-sm btn-success" *ngIf="client.isActivated" (click)="changeState()">Deactivate</button>
                <button class="btn btn-sm btn-success" *ngIf="!client.isActivated" (click)="changeState()">Activate</button>
            </div>
    </div>
</div>

