.btn:hover {
  color: #40352B; 
  background-color: #F2E1AC;
  border: 1px solid #F2E1AC; /* Añadir un borde visible al hacer hover */
}

.btn{
  background-color: #697353;
  color: #ffffff;
}

.perzo-top{
  top: 20%;
}

div{
  color: #40352B;
}

.card-header{
  background-color: #F2E1AC;
}
.card-body{
  background-color: #ffffff;
}
.icon-toggle-button {
  position: relative;

  .icon-default {
    display: inline; /* Visible por defecto */
  }

  .icon-hover {
    display: none; /* Oculto por defecto */
  }

  /* Estilo cuando el botón está en hover o en foco (activo) */
  &:hover {
    .icon-default {
      display: none; /* Oculta el icono por defecto en hover y foco */
    }

    .icon-hover {
      display: inline; /* Muestra el icono de hover y foco */
    }

  }
}