/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
// Colores personalizados
$color-principal: #697353;
$color-secundario: #F2E1AC;
$color-terciario: #D9C6A3;
$color-cuaternario: #BF9169;
$color-quinto: #40352B;

body {
  color: $color-quinto;
  font-family: Arial, sans-serif;
}

h1 {
  color: $color-quinto;
}

