.btn:hover {
    color: #40352B; /* Cambiar el color del texto al pasar el mouse */
    background-color: #F2E1AC;
    border: 1px solid #F2E1AC; /* Añadir un borde visible al hacer hover */
}

.btn{
    background-color: #697353;
    color: #ffffff;
}

.cardo{
    border-color: #40352B;
}